@import url('https://fonts.googleapis.com/css2?family=Lato:wght@400;700&family=Open+Sans:wght@400;600&display=swap');
body{
    margin: 0;
    background: url("https://mobimg.b-cdn.net/v3/fetch/fc/fc813e57424d1ad9576f9066812f670f.jpeg") no-repeat center center fixed;
    font-family: 'Lato', sans-serif;
}

* {
    box-sizing: border-box;
}
.container {
    display: flex;
}
ul{
    list-style: none;
    padding: 0;
}
.pop_up {
    width: 90%;
    margin: 0 auto;
    height: 300px;
    position: absolute;
    top: 80px;
    left: 5%;
    border-radius: 25px;
    border: 2px solid gold;
    background-color: rgba(0, 0, 0, 0.53);
    padding: 30px;
}
.pop_up_title{
    font-size: 30px;
    color: gold;
}
.pop_up_text{
    text-align: center;
    font-size: 24px;
    color: white;
}

.game_section {
    position: relative;
    height: 100vh;
    padding-top: 50px;
    width: 70%;
    border-right: 1px solid white;

}

.qa_wrap {
    margin-top: 400px;
    bottom: 80px;
    padding: 20px;
}

.question {
    width: 100%;
    border-radius: 40px;
    background-color: black;
    padding: 20px;
    color: gold;
    margin-bottom: 20px;
}

.options_wrap {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    justify-content: space-between;
}

.option {
    width: 45%;
    border-radius: 40px;
    background-color: black;
    padding: 20px;
    color: gold;

}
.option:hover{
    opacity: 0.8;
    cursor: pointer;
    outline: 1px gold solid;
    box-sizing: border-box;
}
ul{
    display: flex;
    flex-direction: column-reverse;
   align-items: center;
}
.points_section{
    padding-top: 50px;
    width: 30%;
}
.point{
    color: white;
    font-size: 28px;
}
.save  {
    color: gold;
}
.help_wrap {
    width: 100%;
    display: flex;
    justify-content: center;
    gap: 20px;
}
.help_item{
    border: 1px solid gold;
    border-radius: 50%;
    height: 80px;
    width: 80px;
    text-align: center;
    line-height: 80px;
    background-color: black;
    color: white;
}
.phone{
    background-color: #c3a42a;
}
.phone img{
    position: relative;
    top: 10px;
    width: 55px;
    height: auto;
}
.help_item:hover{
    scale: 1.1;
}

.round{
    text-align: center;
    border: 1px solid gold;
    background-color: gold;
    width: fit-content;
    border-radius: 15px;
    padding: 8px 10px ;
    color: black;
    font-weight: bold;
    position: relative;
}
ul{
    padding-top: 30px;
    margin: 0 auto;
    width: 80%;

}
li{
    margin-top: 9px;

}

.correct{
    background-color: #0c430c;
}
.clue{
    background-color: #c1c132;
    color: black;
}
.used{
    background-color: grey;
}
.used:hover{
    scale: 1;
}
.million{
    font-size: 48px;
    font-weight: bold;
    color: gold;
}
.wrong{
    background: #511111;
    border: 1px solid black;

}
.fireworksDiv{
    position:relative;
    background-color: rgba(0,0,0,1);
    width: 100%;
    height: 100vh;
    z-index:9;
}

.text{
    position:absolute;
    top:0;
    left:0;
    width:100%;
    z-index:100;
    height:100vh;
    display: grid;
    justify-content: center;
    align-content: center;
}

.text h5{
    text-align:center;
    font-size:3rem;
    color:white;
    text-transform:uppercase;
    text-shadow: 3px -4px 4px red;
}